<mat-toolbar color="primary" class="mat-elevation-z3">
  <button mat-icon-button type="button" mat-button (click)="drawer.toggle()" class="example-icon"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <span>Mon Magasin</span>
  <span class="spacer"></span>
  <mat-checkbox class="example-margin" [(ngModel)]="logging">Logging</mat-checkbox>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a routerLink="/products" routerLinkActive="active">Product</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="/orders" routerLinkActive="active">Order</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="/customers" routerLinkActive="active">Customer</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="/config" routerLinkActive="active">Setting</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <main class="content">
    <section class="messages" *ngIf="logging">
      <app-messages></app-messages>
    </section>
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
