<header class="d-flex w-100 p-2">
  <div class="d-flex flex-column">
    <h2>orders</h2>
    <div class="action">
      <button mat-button color="primary" class="p-2 me-2"
              (click)="viewType = 'FORM'"
              *ngIf="viewType!='FORM'">Create</button>
      <button mat-button color="primary" class="p-2 me-2"
              (click)="saveOrder()"
              *ngIf="viewType=='FORM'"
              [disabled]="!orderForm.valid">Save</button>
      <button mat-button color="accent" class="p-2 me-2"
              (click)="cancelSaveOrder()"
              *ngIf="viewType=='FORM'">Cancel</button>
      <button mat-button
              *ngIf="viewType=='LIST'"
              [disabled]="orderSelected === null"
              class="p-2 me-2">Edit</button>
      <button mat-button color="warn" class="p-2"
              [disabled]="orderSelected === null"
              *ngIf="viewType=='LIST'">Delete</button>
    </div>
  </div>
  <span class="spacer"></span>
  <div class="search">
    <app-search-order></app-search-order>
  </div>
</header>
<main class="d-flex">
  <span class="spacer"></span>
  <app-list-order *ngIf="viewType == 'LIST'"
                  [orders]="orders"
                  (orderSelectedEvent)="setOrdersSelected($event)"></app-list-order>
  <app-form-order
    [dataSource]="orderForm"
    [saveClicked]="saveClicked"
    [action]="action"
    *ngIf="viewType == 'FORM'"></app-form-order>
  <span class="spacer"></span>
</main>
